{
    "plugin_name": "postgresql-database-plugin",
    "allowed_roles": "readonly",
    "connection_url": "postgresql://{{postgresql_username}}:{{postgresql_password}}@{{ansible_hostname}}:5432/{{postgresql_db}}?sslmode=disable"
}
